.modal-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #010b1b8a;
  top: 0;
  left: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.modal-overlay .modal {
  background: #fff;
  color: #333;
  padding: 20px;
  max-width: 700px;
  max-height: 80vh;
  overflow-y: auto;
  position: relative;
}
.modal-overlay .close {
  position: absolute;
  z-index: 99;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 100%;
  color: #fff;
  font-size: 28px;
  text-align: center;
  cursor: pointer;
  background: #3B71CA;
}
.modal h1 {
  border-bottom: 1px solid #ddd ;
  margin-bottom: 20px;
  padding: 10px;
}
.modal span{
  color: #867e7e;
}
