.data {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  gap: 5%;
  border-radius: 5px;
  margin: 30px auto;
}
.data-img {
  display: flex;
  justify-content: center;
  flex: 1;
}
.img {
  width: 160px;
  height: auto;
  border-radius: 50%;
  background-color: white;
}
.name-email {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.name-email p:nth-child(even),
.birth-education p:nth-child(even) {
  font-size: 25px;
  padding: 20px 0;
}

.birth-education {
  flex: 1;
}

.avatar,
.name,
.birthday,
.email,
.education {
  font-size: 15px;
  color: #232323;
  flex: 1;
}

small {
  margin-right: 5px;
}
h3,
h2 {
  margin-bottom: 15px;
}
/* Table */

table {
  border-spacing: 0;
  border-collapse: collapse;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin: 30px 0;
  background: #fff;
}
table tr td,
table tr th {
  border: 1px solid #3B71CA;
  padding: 5px;
  width: 400px;
  text-align: left;
}
thead {
  background-color: #8eb8fb8a;
}
tbody tr:nth-child(even) {
  background-color: #8eb8fb8a;
}

.eye {
  cursor: pointer;
}
