.single-candidate {
  border: 2px solid #3b71ca;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  overflow: hidden;
}
.img-container {
  flex: 0 0 35rem;
  text-align: center;
  padding: 30px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background: #fff;
}
.single-candidate .img {
  max-width: 220px;
  opacity: 0.3;
  height: auto;
}
.single-candidate article {
  transition: 0.3s ease;
}
.single-candidate article:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}
