.single-candidate {
  border: 2px solid #3b71ca;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.single-candidate .img {
  width: 50px;
  padding: 20px;
  flex: 0 0 30%;
}
.single-candidate article {
  flex: 0 0 70%;
}
.candidate-data {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}
.candidate-data p {
  width: 350px;
  border: 1px solid #3b71ca;
  padding: 4rem;
  margin-left: 30px;
}
.single-candidate section p:first-child {
  margin-right: 0;
}
